html {
	font-family: GillSans, Calibri, Trebuchet, sans-serif;
}    

body{
	background-color: black;
}
nav{
	background-color: black;
}

#spotify-search-page{

	background: url("https://d2c87l0yth4zbw-2.global.ssl.fastly.net/i/playstation/ps-bg-no-logo-lg.jpg");
	background-size: 100%;
}

.user-hint{
	color:white;
}

/*div artist*/
.artist{
	display: inline-block;
	cursor:pointer;
	width:32.5%;
}
.name-artist{
	font-size: 20px;
	color: white;
    text-align: center;
    margin-bottom:0;
}

.image-artist{

	width: 20em;
	height: 18em; 
	margin: 1em;
	border-radius:50%;
	
	
}

/*div album*/
.album{
	display: inline-block;
	cursor:pointer;
	width:32.5%;
}

.album-name{

	font-size: 20px;
	color: white;
    text-align: center;
    margin-bottom:0;
}

.image-album{
	width: 20em;
	height: 18em; 
	margin: 1em;

}

.logo-spotify{
	left: 50%;
	transform: translateX(-50%);
}
.card-panel {
	padding: 0;
}

.card-panel-title {
	margin: 0;
	line-height: 1.42857143;
	font-size: 20px;
}

.card-panel-footer {
	margin-top: 5px;
	padding: 14px 15px 15px;
	text-align: right;
}
.card-panel-header {
	text-align: center;
	background-color: #66b37d;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	color: white;
	padding: 5px;
	margin-bottom: 10px;
}

.card-panel-body {
	position: relative;
	padding: 20px;
}


.card-panel-title i.mdi-action-search {
	color: #84bd00;
	margin-right: 20px;
	font-size: 20px;
}

#button-login{
	margin-left: 45%;
	color: #fff;
	background-color: #2ebd59;
	margin-top: 50px;
}
#input-artist{
	padding-left:.5em;
}

#input-name{
	color: #fff;
}
#input-password{
	color: #fff;
}
#button-search{
	margin: 1em;
}

.track-list{
	background:white;
}

.track-song{
	padding:0 1em;
	border-bottom:1px solid black;
}

.track-song p{
	cursor:pointer;
}

.track-song a{
	margin-top:.5em;
	cursor:pointer;
}

/*container artist*/

.container-artist{
	
}
iframe{
	margin: 0 auto;
    display: block;
}